@import "./variables";
@import "typography";

.footer-info {
  background-color: #8b48d7;
  color: #fff;
  padding: 20px 20px 40px 20px;
  font-family: Arial, sans-serif;

  .footer-top {
    display: flex;

    margin-bottom: 15px;

    &-logo {
      display: flex;
      align-items: center;

      span {
        font-size: 15px;
        font-weight: 700;
        margin-left: 8px;
      }
    }
    .logo-right {
      margin-left: 8px;
    }
    .logo {
      width: 40px;
      height: auto;
    }
  }

  .footer-content {
    margin-bottom: 15px;

    p {
      margin: 5px 0;
    }

    strong {
      font-weight: bold;
    }
  }

  .footer-follow {
    display: flex;
    align-items: center;

    margin: 15px 0;
    padding-bottom: 8px;
    border-bottom: 1px solid #ffffff;

    p {
      margin: 0;
    }

    .social-icon {
      width: 24px;
      height: auto;
      margin-left: 10px;
    }
  }

  .footer-website {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px 0;

    a {
      color: #fff;
      border: 1px solid #ffffff;
      padding: 8px 16px;
      border-radius: 8px;
      text-decoration: none;
      display: inline-block;
    }
  }

  .footer-certification {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;

    .ncsc-logo {
      width: 200px;
      height: auto;
    }
  }
}

@media (max-width: 768px) {
  .footer-info {
    .footer-top {
      display: flex;
      align-items: center;
      gap: 10px;
      margin-bottom: 15px;
      justify-content: flex-start;
      &-logo {
        margin-bottom: 10px;
      }

      .logo {
        margin-bottom: 5px;
      }
    }

    .footer-content {
      display: inline;
      p {
        margin: 10px 0;
        text-align: left;
      }
    }

    .footer-follow {
      display: flex;
      align-items: center;
      justify-content: start;
      padding-bottom: 8px;

      .social-icon {
        margin-left: 10px;
      }
    }

    .footer-website {
      margin-top: 10px;
    }

    .footer-certification {
      margin-top: 10px;
    }
  }
}
