$primary-color: #2f3492;
$border-color: #b3b3ba;
$bg-color-form: rgba(255, 255, 255, 0.6);
$bg-color-white: rgba(255, 255, 255, 1);

$border-color-input: rgba(235, 30, 104, 1);
$color-tilte-input: #e7e7ea;
$bg-color--small-red: rgba(235, 30, 104, 1);

$font-family: "Google Sans", sans-serif;
